<footer style="background-color:#910048", class="text-center text-lg-start  text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  </section>
 
  <section class="">
    <div  class="container text-center text-md-start mt-5"> 
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  text-white">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange" >
          <i class="fas fa-gem me-3 "></i> Matriz Quito
          </h6>
          <p>Av. Simón Bolívar y Av. Jorge Fernández </p>
          <p>(593-2) 2985-600 / (593-2)5000-600) </p>
          <p>Contacto Admisiones: 0983885624 </p> 
        </div>


        <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  text-white"  >
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange">
          <i class="fas fa-gem me-3"></i>Guayaquil
          </h6>
          <p>
          Av. Juan Tanca Marengo Km. 2.5 y Las Aguas
          </p>
          <p>(593-4) 3710135 </p>
          <p>Contacto Admisiones: 0983885624 </p>
          
        </div>
        <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-white "  >
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange" >
          <i class="fas fa-gem me-3"></i>Loja
          </h6>
          <p>
          Av. Manuel Agustín Aguirre 1275 y Maximiliano Rodríguez (esquina)
          </p>
          <p>593-7)2584-567 / (593 - 7)2563336 </p>
          <p>Contacto Admisiones: 0983885624 </p>
          
        </div>
        <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  text-white ">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: orange" >
          <i class="fas fa-gem me-3"></i>Modalidad en Línea
          </h6>
          <p>
          Sector El Dorado, Pasaje Solano E4-270 y Av. Gran Colombia
          </p>
          <p>(593-2) 2985-621 ext. 5218 </p>
          <p>Contacto Admisiones: 0983885624 </p>
          
        </div>


      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://www.uide.edu.ec/pregrado-presencial/loja/facultad-de-ciencias-tecnicas/tecnologias-de-la-informacion-y-comunicacion/">UIDE</a>
  </div>
</footer>