<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Ruta del Cafe</title>
  </head>

  <header style="background-color:#910048", class="container-fluid d-flex justify-content-center">
    <p class="fw-bold text-white my-3 fs-5 ">San Pedro de Vilcabamba </p>
  </header>
  <br>

</br>
  <body  > 
    
    <!--MENU -->
    <nav style="background-color:#910048", class="  text-center navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span class="fw-bold text-light ">Emprendimientos </span> 
        </a>
        <span></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="http://127.0.0.1:8000/administrativo/api/emprendimientos">
                <span class="text-light  fs-5 ">Emprendimientos </span> 
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="http://127.0.0.1:8000/administrativo/api/emprendedores">
                <span class="text-light  fs-5">Emprendedores</span> 
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8000/administrativo/api/menu">
                  <span class="text-light  fs-5">Menu</span> 
                </a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav style="background-color:#910048", class="  text-center navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <span class="fw-bold text-light ">tipo 1 </span> 
          </a>
          <span></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="http://127.0.0.1:8000/administrativo/api/emprendimientos">
                  <span class="text-light  fs-5 ">tipo2</span> 
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8000/administrativo/api/emprendedores">
                  <span class="text-light  fs-5">Etipo3</span> 
                </a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link " href="http://127.0.0.1:8000/administrativo/api/menu">
                    <span class="text-light  fs-5">tipo4</span> 
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <br>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner  fw-bold w-75 mx-auto text-center bg-danger text-light border-5">
        <div class="carousel-item active">
          <img src="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<section  id="contenedorTipos">
    <div class="card" style="width: 18rem;">
        <img src="https://www.neoteo.com/wp-content/uploads/2019/03/logo-41.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.neoteo.com/wp-content/uploads/2019/03/logo-41.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://www.neoteo.com/wp-content/uploads/2019/03/logo-41.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</section>




<section>
  <h1 class="alert alert-dark">Emprendimiento por categoria</h1>
  <div class="row">
    {%for servicio in servicios %}

    <div class="card-m-3" style="width: 18rem;">
    <img src="" classs="card-img-top"alt="...">
    <div class="card=body">
      <h5 class="card-title">nombre:{{ servicio.nombre}}</h5>
      <h4 class="card-title">Descripcion: {{servicio.Descripcion}}</h4>
    </div>
    
    {%end for %}
    </div>
  </div>
</section>

    <!-- Footer -->
    <footer style="background-color:#910048", class="text-center text-lg-start  text-muted">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
      <section>
        <form role= "form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% load crispy %}
          {{form.as_p}}
          
          <input type="submit" value="Submit">
        </form>
      </section>  





      <!-- Section: Links  -->
      <section class="">
        <div  class="container text-center text-md-start mt-5"> 
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  text-white">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4" style="color: orange" >
              <i class="fas fa-gem me-3 "></i> Matriz Quito
              </h6>
              <p>Av. Simón Bolívar y Av. Jorge Fernández </p>
              <p>(593-2) 2985-600 / (593-2)5000-600) </p>
              <p>Contacto Admisiones: 0983885624 </p> 
            </div>
    
    
            <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  text-white"  >
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4" style="color: orange">
              <i class="fas fa-gem me-3"></i>Guayaquil
              </h6>
              <p>
              Av. Juan Tanca Marengo Km. 2.5 y Las Aguas
              </p>
              <p>(593-4) 3710135 </p>
              <p>Contacto Admisiones: 0983885624 </p>
              
            </div>
            <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-white "  >
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4" style="color: orange" >
              <i class="fas fa-gem me-3"></i>Loja
              </h6>
              <p>
              Av. Manuel Agustín Aguirre 1275 y Maximiliano Rodríguez (esquina)
              </p>
              <p>593-7)2584-567 / (593 - 7)2563336 </p>
              <p>Contacto Admisiones: 0983885624 </p>
              
            </div>
            <div style="background-color:#910048", class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  text-white ">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4" style="color: orange" >
              <i class="fas fa-gem me-3"></i>Modalidad en Línea
              </h6>
              <p>
              Sector El Dorado, Pasaje Solano E4-270 y Av. Gran Colombia
              </p>
              <p>(593-2) 2985-621 ext. 5218 </p>
              <p>Contacto Admisiones: 0983885624 </p>
              
            </div>
    
    
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://www.uide.edu.ec/pregrado-presencial/loja/facultad-de-ciencias-tecnicas/tecnologias-de-la-informacion-y-comunicacion/">Uide</a>
      </div>
      <!-- Copyright -->
    </footer>
<!-- Footer -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>
</html>